p {
    text-indent: 2em;
    /* font连写必须有字号和字体 */
    font: 16px/28px Microsoft Yahei
}

h1 {
    text-align: center;
    /* 文字不加粗 */
    font-weight: 400;
}

img {
    text-align: center;
}

div {
    text-align: center;
}

.gray {
    color: #888888;
    font-size: 12px;
}

.footer {
    font: size 12px;
    color: #888;
}

a {
    /* 取消链接的下划线 */
    text-decoration: none;
}

.search {
    color: #666666
}

.btn {
    font-weight: 700;
}

.pic {
    text-align: center;
}